
<h1><%= @decorator.country.name %></h1>
<h2>Region: <%= @decorator.country.region.title%></h2>
<h2>Income Group: <%= @decorator.country.income_group%></h2>
<table>
  <thead>
    <tr>
      <th>Economic Freedom Index</th>
      <th>Corruption Perception Index</th>
      <th>Income Share Held By Top 10%</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <% @decorator.country.indicators.each do |country_indicator| %>
        <% @decorator.world_bank_country.indicators do |world_bank_country_indicator| %>
        <tr>
          <td><%= country_indicator.economic_freedom_index %></td>
          <td><%= country_indicator.corruption_perception_index %></td>
          <td><%= world_bank_country_indicator.highest_income %></td>
          <td><%= indicator.year.year %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>