<!DOCTYPE html>
<html>
  <head>
    <title>BrokenFree</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  </head>
  <body>

    <nav>
      <div class="nav-wrapper deep-purple darken-4">
        <a href=<%= root_path %> class="brand-logo deep-purple darken-4">Broken Free</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li></li>
        </ul>
      </div>
    </nav>
        <div>
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>
            <%= link_to "Sign out", signout_path, id: "/signout" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
        </div>
        <div>
        <%= yield %>
        </div>
  </body>
</html>
